<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}Calculator{% endblock title %}</title>
    
      <link rel="stylesheet" href="css/main.css">
    {% endblock head %}
  </head>
  <body>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    
    
`   <footer>
      {% block footer %}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
      {% endblock footer %}
    </footer>
  </body>
</html>