<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>randomNumber</title>
    
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <section class="randomNumber">
      <p class="output"></p>
      
      <input class="random-button button" type="button" value="Rand">
      <form>
         or enter number:<br>
          <input class="input-number" type="text" name="nunber">
        <br>
      </form>
      <input class="input-number-button button" type="button" value="go">

    </section>
    
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/randomNumber.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>